.App {
  text-align: center;
}


.entity {
  background-color: moccasin;
  position: fixed;
}

.activity {
  background-color: paleturquoise;
  position: fixed;
}

#stage1 {
  position: fixed;
  top: 50px;
  left: 300px;
  width: 150px;
  height: 100px;
}

#stage2a {
  position: fixed;
  top: 200px;
  left: 50px;
  width: 150px;
  height: 100px;
}

#stage2b {
  position: fixed;
  top: 200px;
  left: 550px;
  width: 150px;
  height: 100px;
}

#stage3a {
  position: fixed;
  top: 350px;
  left: 550px;
  width: 150px;
  height: 100px;
}

#stage4a {
  position: fixed;
  top: 500px;
  left: 300px;
  width: 150px;
  height: 100px;
}

#stage4b {
  position: fixed;
  top: 500px;
  left: 800px;
  width: 150px;
  height: 100px;
}
